<%- include ../partials/header.ejs %> 

<%- include ../partials/main_nav.ejs %>  

    <main >
        
        
        <div class="uk-container" style="padding-top: 10%; padding-bottom: 5%;" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-medium; delay: 100; repeat: true">
            <div class="uk-card uk-card-default uk-card-hover">
              <div>
                <div class="uk-card-body">

                <!-- MESSAGE AREA -->
                <% if(messages.length > 0) { %>
                    <div class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" uk-close></a>
                        <%= messages %>
                    </div>
                <% } %>

                <img src="/Assets/images/Logo1.png" alt="" class="mx-auto d-block" style="height: 80px; width: 80px;">
                <h2 class="text-center">Login</h2>
    
                  <!-- BEGIN SECTION : FORM  -->
                  <form class="uk-form-horizontal my-5 w-50 d-block mx-auto" method="POST" autocomplete="off">
    
                    <div >
                        <!-- USERNAME -->
                        <div class="mb-3">
                            <label class="uk-form-label uk-text-large" for="username">UserName</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large " id="username" type="text" placeholder="Username" name="username" required autofocus>
                            </div>
                        </div>
    
                         <!-- PASSWORD -->
                         <div class="mb-3">
                            <label class="uk-form-label uk-text-large" for="password">Password</label>
                            <div class="uk-form-controls">
                                <input class="uk-form-large " id="password" type="password" placeholder="Password" name="password" required>
                            </div>
                        </div>
    
                    </div>

                    <!-- LOGIN AND CANCEL -->
                    <div class="text-center mt-4">
                        <button class="uk-button uk-button-primary " type="submit" id="sendButton"><span uk-icon="sign-in"></span> Login</button>
                        <a class="uk-button uk-button-danger" href="/"><span class="uk-margin-small-right" uk-icon="close"></span> Cancel</a>
                    </div>  
    
                  </form> 
                  <!-- END SECTION : FORM  -->
                </div>
              </div>
            </div>
          </div>
    </main>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>